/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
storage/.DS_Store
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

.DS_Store
/.DS_Store
.github/.DS_Store
/tests/.DS_Store
/app/.DS_Store
/database/.DS_Store
/public/.DS_Store
/resources/.DS_Store
